<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <blocksInheritance>true</blocksInheritance>
      <permission>hudson.model.Run.Delete:jenkins</permission>
      <permission>hudson.model.Run.Delete:developer</permission>
      <permission>hudson.model.Item.Read:tester</permission>
      <permission>hudson.model.Item.Read:jenkins</permission>
      <permission>hudson.model.Item.Read:developer</permission>
      <permission>hudson.model.Item.Read:release</permission>
      <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs:jenkins</permission>
      <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs:developer</permission>
      <permission>hudson.scm.SCM.Tag:jenkins</permission>
      <permission>hudson.scm.SCM.Tag:developer</permission>
      <permission>hudson.model.Item.Configure:jenkins</permission>
      <permission>hudson.model.Item.Configure:developer</permission>
      <permission>hudson.model.Item.Build:jenkins</permission>
      <permission>hudson.model.Item.Build:developer</permission>
      <permission>hudson.plugins.promoted_builds.Promotion.Promote:jenkins</permission>
      <permission>hudson.plugins.promoted_builds.Promotion.Promote:developer</permission>
      <permission>hudson.model.Item.Cancel:jenkins</permission>
      <permission>hudson.model.Item.Cancel:developer</permission>
      <permission>hudson.model.Run.Update:jenkins</permission>
      <permission>hudson.model.Run.Update:developer</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jenkins</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:tester</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jenkins</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:developer</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:release</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jenkins</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jenkins</permission>
      <permission>hudson.model.Item.Discover:jenkins</permission>
      <permission>hudson.model.Item.Discover:developer</permission>
      <permission>hudson.model.Item.Delete:jenkins</permission>
      <permission>hudson.model.Item.Delete:developer</permission>
      <permission>hudson.model.Item.Workspace:jenkins</permission>
      <permission>hudson.model.Item.Workspace:developer</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jenkins</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <org.jenkinsci.plugins.authorizeproject.AuthorizeProjectProperty plugin="authorize-project@1.0.3">
      <strategy class="org.jenkinsci.plugins.authorizeproject.strategy.SpecificUsersAuthorizationStrategy">
        <userid>developer</userid>
        <noNeedReauthentication>false</noNeedReauthentication>
      </strategy>
    </org.jenkinsci.plugins.authorizeproject.AuthorizeProjectProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.10.3">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty plugin="ownership@0.5.1">
      <ownership>
        <ownershipEnabled>true</ownershipEnabled>
        <primaryOwnerId>developer</primaryOwnerId>
        <coownersIds class="sorted-set">
          <string>jenkins</string>
        </coownersIds>
      </ownership>
      <itemSpecificSecurity>
        <permissionsMatrix>
          <blocksInheritance>true</blocksInheritance>
          <permission>hudson.model.Run.Delete:jenkins</permission>
          <permission>hudson.model.Run.Delete:developer</permission>
          <permission>hudson.model.Item.Read:tester</permission>
          <permission>hudson.model.Item.Read:jenkins</permission>
          <permission>hudson.model.Item.Read:developer</permission>
          <permission>hudson.model.Item.Read:release</permission>
          <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs:jenkins</permission>
          <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs:developer</permission>
          <permission>hudson.model.Item.Build:jenkins</permission>
          <permission>hudson.model.Item.Build:developer</permission>
          <permission>hudson.scm.SCM.Tag:jenkins</permission>
          <permission>hudson.scm.SCM.Tag:developer</permission>
          <permission>hudson.model.Item.Configure:jenkins</permission>
          <permission>hudson.model.Item.Configure:developer</permission>
          <permission>hudson.plugins.promoted_builds.Promotion.Promote:jenkins</permission>
          <permission>hudson.plugins.promoted_builds.Promotion.Promote:developer</permission>
          <permission>hudson.model.Run.Update:jenkins</permission>
          <permission>hudson.model.Run.Update:developer</permission>
          <permission>hudson.model.Item.Cancel:jenkins</permission>
          <permission>hudson.model.Item.Cancel:developer</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jenkins</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:tester</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jenkins</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:developer</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:release</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jenkins</permission>
          <permission>hudson.model.Item.Discover:jenkins</permission>
          <permission>hudson.model.Item.Discover:developer</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jenkins</permission>
          <permission>hudson.model.Item.Delete:jenkins</permission>
          <permission>hudson.model.Item.Delete:developer</permission>
          <permission>hudson.model.Item.Workspace:jenkins</permission>
          <permission>hudson.model.Item.Workspace:developer</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jenkins</permission>
        </permissionsMatrix>
      </itemSpecificSecurity>
    </com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty>
    <se.diabol.jenkins.pipeline.PipelineProperty plugin="delivery-pipeline-plugin@0.8.7">
      <stageName>Acceptance</stageName>
    </se.diabol.jenkins.pipeline.PipelineProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>Commit</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.openshift.DeployApplication plugin="openshift-deployer@1.0.4">
      <serverName>vm</serverName>
      <cartridges>jbossews-2.0</cartridges>
      <domain>amqa</domain>
      <gearProfile>medium</gearProfile>
      <appName>cdonpass</appName>
      <deploymentPath>../../Commit/workspace/target/</deploymentPath>
    </org.jenkinsci.plugins.openshift.DeployApplication>
    <hudson.tasks.Shell>
      <command>APPNAME=cdonpass
BRANCH=master
APP_NAME=$(echo ${APPNAME} | tr -d -c &quot;.[:alnum:]&quot;)
GIT_BRANCH=$(echo ${BRANCH} | tr -d -c &quot;.[:alnum:]&quot;)
url=http://cdonpass-amqa.openshift.example.com/hello
response=$(curl --write-out %{http_code} --silent --output /dev/null $url)
echo &quot;INTEGRATION TEST #1:&quot; $url &quot;returned HTTP code&quot; $response
if [ &quot;$response&quot; = 200 ]; then
    echo &quot;Test PASSED.&quot;
else
    echo &quot;Test FAILED.&quot;
    exit 1
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger plugin="build-pipeline-plugin@1.4.4">
      <configs/>
      <downstreamProjectNames>UAT</downstreamProjectNames>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.39">
      <recipientList>jenkinsam71@gmail.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>text/plain</contentType>
      <defaultSubject>You have a new build ready to be deployed in UAT from $DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>