<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <blocksInheritance>true</blocksInheritance>
      <permission>hudson.model.Run.Delete:jenkins</permission>
      <permission>hudson.model.Run.Delete:release</permission>
      <permission>hudson.model.Item.Read:tester</permission>
      <permission>hudson.model.Item.Read:jenkins</permission>
      <permission>hudson.model.Item.Read:developer</permission>
      <permission>hudson.model.Item.Read:release</permission>
      <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs:jenkins</permission>
      <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs:release</permission>
      <permission>hudson.scm.SCM.Tag:jenkins</permission>
      <permission>hudson.scm.SCM.Tag:release</permission>
      <permission>hudson.model.Item.Configure:jenkins</permission>
      <permission>hudson.model.Item.Configure:release</permission>
      <permission>hudson.model.Item.Build:jenkins</permission>
      <permission>hudson.model.Item.Build:release</permission>
      <permission>hudson.plugins.promoted_builds.Promotion.Promote:jenkins</permission>
      <permission>hudson.plugins.promoted_builds.Promotion.Promote:release</permission>
      <permission>hudson.model.Run.Update:jenkins</permission>
      <permission>hudson.model.Run.Update:release</permission>
      <permission>hudson.model.Item.Cancel:jenkins</permission>
      <permission>hudson.model.Item.Cancel:release</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:tester</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jenkins</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:developer</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:release</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jenkins</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jenkins</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jenkins</permission>
      <permission>hudson.model.Item.Discover:jenkins</permission>
      <permission>hudson.model.Item.Discover:release</permission>
      <permission>hudson.model.Item.Delete:jenkins</permission>
      <permission>hudson.model.Item.Delete:release</permission>
      <permission>hudson.model.Item.Workspace:jenkins</permission>
      <permission>hudson.model.Item.Workspace:release</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jenkins</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <org.jenkinsci.plugins.authorizeproject.AuthorizeProjectProperty plugin="authorize-project@1.0.3">
      <strategy class="org.jenkinsci.plugins.authorizeproject.strategy.SpecificUsersAuthorizationStrategy">
        <userid>release</userid>
        <noNeedReauthentication>false</noNeedReauthentication>
      </strategy>
    </org.jenkinsci.plugins.authorizeproject.AuthorizeProjectProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.10.3">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty plugin="ownership@0.5.1">
      <ownership>
        <ownershipEnabled>true</ownershipEnabled>
        <primaryOwnerId>release</primaryOwnerId>
        <coownersIds class="sorted-set">
          <string>jenkins</string>
        </coownersIds>
      </ownership>
      <itemSpecificSecurity>
        <permissionsMatrix>
          <blocksInheritance>true</blocksInheritance>
          <permission>hudson.model.Run.Delete:jenkins</permission>
          <permission>hudson.model.Run.Delete:release</permission>
          <permission>hudson.model.Item.Read:tester</permission>
          <permission>hudson.model.Item.Read:jenkins</permission>
          <permission>hudson.model.Item.Read:developer</permission>
          <permission>hudson.model.Item.Read:release</permission>
          <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs:jenkins</permission>
          <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs:release</permission>
          <permission>hudson.model.Item.Build:jenkins</permission>
          <permission>hudson.model.Item.Build:release</permission>
          <permission>hudson.scm.SCM.Tag:jenkins</permission>
          <permission>hudson.scm.SCM.Tag:release</permission>
          <permission>hudson.model.Item.Configure:jenkins</permission>
          <permission>hudson.model.Item.Configure:release</permission>
          <permission>hudson.plugins.promoted_builds.Promotion.Promote:jenkins</permission>
          <permission>hudson.plugins.promoted_builds.Promotion.Promote:release</permission>
          <permission>hudson.model.Run.Update:jenkins</permission>
          <permission>hudson.model.Run.Update:release</permission>
          <permission>hudson.model.Item.Cancel:jenkins</permission>
          <permission>hudson.model.Item.Cancel:release</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jenkins</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:tester</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jenkins</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:developer</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:release</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jenkins</permission>
          <permission>hudson.model.Item.Discover:jenkins</permission>
          <permission>hudson.model.Item.Discover:release</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jenkins</permission>
          <permission>hudson.model.Item.Delete:jenkins</permission>
          <permission>hudson.model.Item.Delete:release</permission>
          <permission>hudson.model.Item.Workspace:jenkins</permission>
          <permission>hudson.model.Item.Workspace:release</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jenkins</permission>
        </permissionsMatrix>
      </itemSpecificSecurity>
    </com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty>
    <se.diabol.jenkins.pipeline.PipelineProperty plugin="delivery-pipeline-plugin@0.8.7">
      <stageName>Production</stageName>
    </se.diabol.jenkins.pipeline.PipelineProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp target/*.war ../../Rollback-1/workspace/target/
cp ../../Commit/workspace/target/*.war target/</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.openshift.DeployApplication plugin="openshift-deployer@1.0.4">
      <serverName>vm</serverName>
      <cartridges>jbossews-2.0</cartridges>
      <domain>amprod</domain>
      <gearProfile>medium</gearProfile>
      <appName>cdonpass</appName>
      <deploymentPath>target/</deploymentPath>
    </org.jenkinsci.plugins.openshift.DeployApplication>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.39">
      <recipientList>jenkinsam71@gmail.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>